<%= form_with model: @book do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% book.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :author %><br>
    <%= form.text_area :author %>
    <% book.errors.full_messages_for(:author).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
  <%= form.label :read %>
  <%= form.check_box :read %>
  </div>

  <div>
  <%= form.label :library %>
  <%= form.check_box :library %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>